* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: rgb(0, 0, 0);
}
.header {
  color: white;
  background-color: rgb(14, 13, 13);
}
.container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;

  height: 90vh;
  background-color: #0c0b0b;
}

.container-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 300px;

  justify-content: space-between;
  border-right: 1px solid #4d381a;
  padding-right: 1px;
  margin-right: 1px;
}
.container-item-title {
  margin-bottom: 2px;
  text-align: center;
  color: peru;
  background-color: #2c3036;
}
.items {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(33, 37, 48);
  margin-bottom: 2px;
}
.item-name  {
  font-size: 16px;
  font-weight: 600;
  flex-grow: 3;
  max-width: 135px;
  min-width: 135px;
  margin-left: 6px;
  padding: 3px 1px;
  background-color: #ee9817;
  color: black;
}
input {
  max-width: 150px;
  height: 20px;
}

.item-price , .item-amount, .req-value,.total-C {
  margin-right: 5px;
  color: white;
  text-align: center;
  align-items: center;
  padding: 5px;
  flex-grow: 1;
  font-size: 16px;
}
.sub-title {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #171b1b;
}
button {
  height: 20px;
}
