.total-cost {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 300px;
  justify-content: space-between;
  margin-right: 1px;
  background-color: #0c0b0b;
}
.total-cost-title {
  text-align: center;
  color: rgb(253, 169, 59);
  background-color: #16171a;
}
.total-cost-container {
  margin: 2px 0;
  background-color: #1a1a1a;
}
.container-title {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #171b1b;
}
.total-cost-items {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(33, 37, 48);
  margin: 2px 0;
}
.total-item-name {
  font-size: 16px;
  font-weight: 600;
  max-width: 120px;
  flex-grow: 1;
  margin-left: 6px;
  padding: 5px 3px;
  background-color: #ee9817;
}
.item-cost {
  margin-right: 5px;
  color: white;
  text-align: center;
  padding: 5px;
  flex-grow: 1;
  font-size: 16px;
  background-color: rgb(250, 9, 9);
  margin-right: 5px;
}
